<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>HostPay 3</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script type="text/javascript" src="js/loopedslider.min.js"></script>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!-- START PAGE SOURCE -->
<div id="header">
  <div class="inner"> <img src="images/logo.png" class="logo" alt="" />
    <div id="topinfo">
      <p class="right"><img src="images/icon_head_cp.png" alt="" /><a href="#">Control Panel</a></p>
      <p class="left"><img src="images/icon_head_phone.png" alt="" /><span class="grey">Contact Us:</span> 01234 567 891</p>
    </div>
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="hosting.html">Hosting</a></li>
      <li><a href="content.html">Domains</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
  </div>
</div>
<div id="mid">
  <div class="inner">
    <div id="leftmid">
      <form action="#">
        <input type="text" class="domsearchbox" value="Domain name search..." onclick="this.value=''"/>
        <input type="image" src="images/btn_search_bg.png" value="submit" class="domsearch" />
      </form>
    </div>
    <div id="rightmid">
      <p class="right"><strong>Get a .com domain: Starting from only &pound;6.99</strong></p>
    </div>
  </div>
</div>
<div class="inner">
  <div id="loopedSlider"> <a href="#"><img src="images/slide_next.png" class="next right slidebtn" alt="" /></a> <a href="#"><img src="images/slide_previous.png" class="previous left slidebtn" alt="" /></a>
    <div class="container">
      <div class="slides">
        <div><a href="#"><img src="images/fp_iphone.jpg" width="510" height="225" alt="" /></a></div>
        <div><img src="images/fp_wbp.jpg" width="510" height="225" alt="" /></div>
      </div>
    </div>
  </div>
  <ul id="fpfeat">
    <li> <img src="images/fp_support.png" alt="" />
      <h4>24/7 UK Support</h4>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh </p>
      <p><a href="#">Support</a> is <span class="online">online now</span></p>
    </li>
    <li> <img src="images/fp_extend.png" alt="" />
      <h4>eXtend Control Panel</h4>
      <p>Lorem ipsum dolor sit amet, consect adipiscing elit, sed diam nonummy</p>
      <p><a href="#">Further info on the eXtend control panel</a></p>
    </li>
  </ul>
  <div style="clear: both;"></div>
  <div class="packages">
    <h3 class="bronze">Bronze Package</h3>
    <div class="packagedetails">
      <p class="packageinfo"><img src="images/icon_info.png" alt="" />Great for small websites</p>
      <ul>
        <li><img src="images/icon_webspace.png" alt="" /><strong>Web Space:</strong> 5,000Mb</li>
        <li><img src="images/icon_bandwidth.png" alt="" /><strong>Bandwidth:</strong> 20,000Mb</li>
        <li><img src="images/icon_db.png" alt="" /><strong>Databases:</strong> 5</li>
        <li><img src="images/icon_mailboxes.png" alt="" /><strong>Mailboxes:</strong> 100</li>
        <li><img src="images/icon_ftp.png" alt="" /><strong>FTP Accounts:</strong> 10</li>
        <li><img src="images/icon_click.png" alt="" /><strong>1-Click Installations</strong></li>
      </ul>
      <p class="price"><img src="images/icon_tag.png" alt="" /> Only &pound;1.99 per month</p>
      <p class="bronzebtn"><a href="#">Order Package Now</a></p>
    </div>
  </div>
  <div class="packages">
    <h3 class="silver">Silver Package</h3>
    <div class="packagedetails">
      <p class="packageinfo"><img src="images/icon_info.png" alt="" />Perfect for medium sized websites</p>
      <ul>
        <li><img src="images/icon_webspace.png" alt="" /><strong>Web Space:</strong> 25,000Mb</li>
        <li><img src="images/icon_bandwidth.png" alt="" /><strong>Bandwidth:</strong> 25,000Mb</li>
        <li><img src="images/icon_db.png" alt="" /><strong>Databases:</strong> 20</li>
        <li><img src="images/icon_mailboxes.png" alt="" /><strong>Mailboxes:</strong> 250</li>
        <li><img src="images/icon_ftp.png" alt="" /><strong>FTP Accounts:</strong> 50</li>
        <li><img src="images/icon_iphone.png" alt="" /><strong>iPhone Control Panel</strong></li>
      </ul>
      <p class="price"><img src="images/icon_tag.png" alt="" /> Only &pound;3.99 per month</p>
      <p class="silverbtn"><a href="#">Order Package Now</a></p>
    </div>
  </div>
  <div class="packages" style="margin: 0;">
    <h3 class="gold">Gold Package</h3>
    <div class="packagedetails">
      <p class="packageinfo"><img src="images/icon_info.png" alt="" />For the most demanding sites</p>
      <ul>
        <li><img src="images/icon_webspace.png" alt="" /><strong>Web Space:</strong> 50,000Mb</li>
        <li><img src="images/icon_bandwidth.png" alt="" /><strong>Bandwidth:</strong> 50,000Mb</li>
        <li><img src="images/icon_db.png" alt="" /><strong>Databases:</strong> 50</li>
        <li><img src="images/icon_mailboxes.png" alt="" /><strong>Mailboxes:</strong> 1000</li>
        <li><img src="images/icon_ftp.png" alt="" /><strong>FTP Accounts:</strong> 100</li>
        <li><img src="images/icon_ssl.png" alt="" /><strong>Free SSL certificate</strong></li>
      </ul>
      <p class="price"><img src="images/icon_tag.png" alt="" /> Only &pound;6.99 per month</p>
      <p class="goldbtn"><a href="#">Order Package Now</a></p>
    </div>
  </div>
  <div class="oneclick"> <img src="images/fp_1clicks.png" alt="" />
    <h4>FREE 1-CLICK INSTALLATIONS!</h4>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
    <p><a href="#">Find out more about 1-Click installations.</a></p>
  </div>
</div>
<div id="payments">
  <div class="inner"> <img src="images/payments.png" alt="" class="right" />
    <p>Purchase safely online with us</p>
  </div>
</div>
<div id="footer">
  <div class="inner">
    <p class="lf">Copyright &copy; 2011 <a href="#">HostPay 3</a> - All Rights Reserved</p>
    <p class="rf"><a href="http://all-free-download.com/free-website-templates/">Free CSS Templates</a> by <a href="http://www.heartinternet.co.uk/">Reseller Hosting</a></p>
    <div style="clear:both;"></div>
  </div>
</div>
<script type="text/javascript" charset="utf-8">
$(function () {
    $.fn.loopedSlider.defaults.addPagination = true;
    $('#loopedSlider').loopedSlider();
});
</script>
<!-- END PAGE SOURCE -->
<div align=center>This template  downloaded form <a href='http://all-free-download.com/free-website-templates/'>free website templates</a></div></body>
</html>
