
@{
    ViewBag.Title = "Xacnhandonhang";
    Layout = "~/Views/Shared/LayoutUser.cshtml";
}

<h2>Đơn Hàng Của Qúy Khách Đã Được Hệ Thống Ghi Nhận. Chúng Tôi Sẽ Liên Hệ Đến Qúy Khách Trong Thời Gian Sớm Nhất</h2>
<p>
    @Html.ActionLink("VỀ TRANG CHỦ", "Index", "PHONE")
</p>
